<%= video_tag(
  'video.mp4',
  id: 'background',
  autoplay: true,
  loop: true,
  muted: true
)
%>
<main role="main" class="card-home">
  <h1 class="cover-heading">Cover your page.</h1>
  <p class="lead">Suspendisse fermentum turpis auctor ex suscipit tincidunt. Aliquam euismod turpis eu sagittis luctus. Maecenas a quam varius eros accumsan interdum nec at tellus. Pellentesque eu justo tellus. Phasellus dignissim elementum odio, in faucibus eros cursus sed. Vestibulum sed hendrerit enim. Nunc nec malesuada metus. </p>
  <p class="lead">
    <%= link_to "About me", about_path,  class:"btn btn-lg btn-secondary" %>
  </p>
</main>
