@import "bootstrap";
@import "gritter";

$color-primary: #1C1B20;

// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */

.btn-primary {
  background-color: #1C1B20;
  border-color: #1C1B20;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: black;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


.navbar {
  background-color: #1C1B20;
  color: white;
  opacity: 0.8;
  padding: 1.5rem;
}

.card-home {
  opacity: 0.7;
  background-color: #1C1B20;
  color: white;
  width: 70%;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-about {
  opacity: 0.9;
  background-color: #1C1B20;
  color: white;
  width: 90%;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 10px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  // overflow:scroll;
  overflow: auto;
  height: 80vh;
}

opacity-1 {
  opacity: 1 !important;
}

#background {
  z-index: -1;
  opacity: .7;

}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: image-url('boat.jpg') no-repeat;
  background-size: cover;

}

.tech-news {
  color: black;
  margin: 20px;
}

.tech-news > .card {
  padding: 30px;
}

.tech-news a {
  color: green;
}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
}

/* CSS Document */

//
//
// h1 {
// 	font-size: 60px;
// 	text-align: center;
// 	color: #FFF;
// }
//
// h3 {
// 	font-size: 30px;
// 	line-height: 34px;
// 	text-align: center;
// 	color: #FFF;
// }
//
// h3 a {
// 	color: #FFF;
// }
//
// a {
// 	color: #FFF;
// }
//
// h1 {
// 	margin-top: 100px;
// 	text-align:center;
// 	font-size:60px;
// 	line-height: 70px;
// 	font-family: 'Bree Serif', 'serif';
// 	}
//
// #container {
// 	margin: 0 auto;
// 	max-width: 890px;
// }
//
// p {
// 	text-align: center;
// }
//
// .toggle,
// [id^=drop] {
// 	display: none;
// }
//
// /* Giving a background-color to the nav container. */
// nav {
// 	margin:0;
// 	padding: 0;
// 	background-color: #254441;
// }
//
// #logo {
// 	display: block;
// 	padding: 0 30px;
// 	float: left;
// 	font-size:20px;
// 	line-height: 60px;
// }
//
// /* Since we'll have the "ul li" "float:left"
//  * we need to add a clear after the container. */
//
// nav:after {
// 	content:"";
// 	display:table;
// 	clear:both;
// }
//
// /* Removing padding, margin and "list-style" from the "ul",
//  * and adding "position:reltive" */
// nav ul {
// 	float: right;
// 	padding:0;
// 	margin:0;
// 	list-style: none;
// 	position: relative;
// 	}
//
// /* Positioning the navigation items inline */
// nav ul li {
// 	margin: 0px;
// 	display:inline-block;
// 	float: left;
// 	background-color: #254441;
// 	}
//
// /* Styling the links */
// nav a {
// 	display:block;
// 	padding:14px 20px;
// 	color:#FFF;
// 	font-size:17px;
// 	text-decoration:none;
// }
//
//
// nav ul li ul li:hover { background: #000000; }
//
// /* Background color change on Hover */
// nav a:hover {
// 	background-color: #000000;
// }
//
// /* Hide Dropdowns by Default
//  * and giving it a position of absolute */
// nav ul ul {
// 	display: none;
// 	position: absolute;
// 	/* has to be the same number as the "line-height" of "nav a" */
// 	top: 60px;
// }
//
// /* Display Dropdowns on Hover */
// nav ul li:hover > ul {
// 	display:inherit;
// }
//
// /* Fisrt Tier Dropdown */
// nav ul ul li {
// 	width:170px;
// 	float:none;
// 	display:list-item;
// 	position: relative;
// }
//
// /* Second, Third and more Tiers
//  * We move the 2nd and 3rd etc tier dropdowns to the left
//  * by the amount of the width of the first tier.
// */
// nav ul ul ul li {
// 	position: relative;
// 	top:-60px;
// 	/* has to be the same number as the "width" of "nav ul ul li" */
// 	left:170px;
// }
//
//
// /* Change ' +' in order to change the Dropdown symbol */
// li > a:after { content:  ' +'; }
// li > a:only-child:after { content: ''; }
//
//
// /* Media Queries
// --------------------------------------------- */
//
// @media all and (max-width : 768px) {
//
// 	#logo {
// 		display: block;
// 		padding: 0;
// 		width: 100%;
// 		text-align: center;
// 		float: none;
// 	}
//
// 	nav {
// 		margin: 0;
// 	}
//
// 	/* Hide the navigation menu by default */
// 	/* Also hide the  */
// 	.toggle + a,
// 	.menu {
// 		display: none;
// 	}
//
// 	/* Stylinf the toggle lable */
// 	.toggle {
// 		display: block;
// 		background-color: #254441;
// 		padding:14px 20px;
// 		color:#FFF;
// 		font-size:17px;
// 		text-decoration:none;
// 		border:none;
// 	}
//
// 	.toggle:hover {
// 		background-color: #000000;
// 	}
//
// 	/* Display Dropdown when clicked on Parent Lable */
// 	[id^=drop]:checked + ul {
// 		display: block;
// 	}
//
// 	/* Change menu item's width to 100% */
// 	nav ul li {
// 		display: block;
// 		width: 100%;
// 		}
//
// 	nav ul ul .toggle,
// 	nav ul ul a {
// 		padding: 0 40px;
// 	}
//
// 	nav ul ul ul a {
// 		padding: 0 80px;
// 	}
//
// 	nav a:hover,
//  	nav ul ul ul a {
// 		background-color: #000000;
// 	}
//
// 	nav ul li ul li .toggle,
// 	nav ul ul a,
//   nav ul ul ul a{
// 		padding:14px 20px;
// 		color:#FFF;
// 		font-size:17px;
// 	}
//
//
// 	nav ul li ul li .toggle,
// 	nav ul ul a {
// 		background-color: #212121;
// 	}
//
// 	/* Hide Dropdowns by Default */
// 	nav ul ul {
// 		float: none;
// 		position:static;
// 		color: #ffffff;
// 		/* has to be the same number as the "line-height" of "nav a" */
// 	}
//
// 	/* Hide menus on hover */
// 	nav ul ul li:hover > ul,
// 	nav ul li:hover > ul {
// 		display: none;
// 	}
//
// 	/* Fisrt Tier Dropdown */
// 	nav ul ul li {
// 		display: block;
// 		width: 100%;
// 	}
//
// 	nav ul ul ul li {
// 		position: static;
// 		/* has to be the same number as the "width" of "nav ul ul li" */
//
// 	}
//
// }
//
// @media all and (max-width : 330px) {
//
// 	nav ul li {
// 		display:block;
// 		width: 94%;
// 	}
//
// }
