@import "bootstrap";
@import "font-awesome";
@import "social-share-button";

$blog-primary-color: #1f1f1f;

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color:  $blog-primary-color;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color:  $blog-primary-color;
}

a {
  color:  $blog-primary-color;

  &:hover {
    color:  $blog-primary-color;
    text-decoration: none;
    opacity: 0.7;
  }
}

.btn-primary {
  background-color:  $blog-primary-color;
  border-color:  $blog-primary-color;

  &:hover {
    background-color:  $blog-primary-color;
    border-color:  $blog-primary-color;
    opacity: .8;
  }
}

.container {
  max-width: 60rem;
}

/* Navbar */

.navbar {
  background-color:  $blog-primary-color;
}

.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;

  &:hover, &:focus {
    color: #fff;
    background-color: transparent;
  }

  &.active {
    color: #fff;

    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      margin-left: -.3rem;
      vertical-align: middle;
      content: "";
      border-right: .3rem solid transparent;
      border-bottom: .3rem solid;
      border-left: .3rem solid transparent;
    }
  }
}

/* Pagination */

.pagination {

  span {
    margin-right: .5rem;
  }
  .current {
    opacity: 0.6;
  }
}

.blog-pagination {
  margin-bottom: 4rem;

  & > .btn {
    border-radius: 2rem;
  }
}


/* Breadcrumb*/

.breadcrumb {
  background-color: transparent;
  padding: 0;

  a {
    font-size: 1.25em;
  }
}


/*
* Blog name and description
*/

.blog-header {
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
  opacity: .9;
  margin-top: 3rem;
  color: white;
  padding: 3rem;
  border-radius: 1rem;
  background-image: url(bodybg.jpg);

  h1 {
    color: white;
  }
}

.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
}

.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}



/* Sidebar  */

.blog-sidebar {

  .sidebar-module {
    padding: 1rem;

    &-inset {
      padding: 1rem;
      border-radius: .25rem;
    }
    &-inset p:last-child,
    &-inset ul:last-child,
    &-inset ol:last-child {
      margin-bottom: 0;
    }
  }

  .img-logo {
    width: 40px;
    opacity: 0.9;
  }

  .social-links li {
    font-size: 2.5em;

  }
}

/*
* Blog posts
*/

.blog-post {
  margin-bottom: 4rem;

  &-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }

  &-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }
}

/*
* Click to tweet
* TODO inprove button design
*/

.social-share-button {
  display: inline;
}

/*
* Comments
*/

.comment-card > .card {
  margin-top: 15px;
}

.comment-attribution {
  font-size: .8em;
  font-style: italic;
}

.comment-name {
  font-weight: 700;
}
